.EmailBox {
  width: 130%;
  position: relative;
  z-index: 2;
}

.Input {
  width: 50%;
  font-size: 20px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border: 1px solid #FFFFFF;
  padding-right: 25%;
  padding-left: 20px;
}

.Button {
  width: 25%;
  height: 45px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 20px;
  background: #F4AB98;
  margin-left: -25%;
  padding: 1px;
  position: relative;
  bottom: 3px;
  border: none;
}

.Button:hover,
.Button:focus {
  border: 0.5px black solid;
  background-color: #FFD1C5;
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .EmailBox { 
    width: 90%; 
    margin: 0 auto;
  }
  .Input {
    width: 70%;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    height: 30px;
    padding-right: 20%;
    padding-left: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);

  }
  .Button {
    width: 20%;
    margin-left: -20%;
    font-size: 12px;
    line-height: 20px;
    height: 32px;
    padding-top: 2px;
    margin-right: -10%;
    border: 2px solid #F4AB98;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    bottom: 1px;
  }
  .Result {
    position: absolute;
  }
}