.Footer {
  text-align:center;
  color:black;
  position: absolute;
  left: 45%;
  top: 190%;
}

.Footer p{
  margin:0;
}

.Footer p:last-child{
  font-size:10px;
}

.Footer a{
  color:black;
  text-decoration:none;
}

.Footer img{
  max-height:10px;
}

.BEARRRR {
  display: none;
}

.BEARRRR:hover {
  cursor:pointer;
}

@media screen and (max-width: 840px) {
  .Footer {
    position: static;
    display: flex;
    padding: 0;
  }
  .BEARRRR {
    flex: 3;
    display: block;
    height: 3em;

  }
  .Footer > div {
    flex: 7;
  }
}