.Landing {
  background-color: #F8F4ED;
  width: 100vw;
  height: 100vh;
}

.LogoBar {
  width: 100%;
  background-color: white;
  padding: 0.5em 0 0.5em 2em;
  box-sizing: border-box;
}

.Title {
  font-weight: bold;
  font-size: 100px;
  line-height: 180px;
  text-align: center;
  margin: 0;
  z-index: 10;
  position: relative;
}

.Love {
  color: #FF8A8A;
}

.SubText {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  width: 60%;
  position: relative;
  left: 15%;
  margin: 0;
  z-index: 10;
}

.Button {
  background: #F4AB98;
  border-radius: 40px;
  width: 20%;
  min-width: fit-content; 
  font-size: 25px;
  line-height: 42px; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  position: absolute;
  left: 30%;
  bottom: 20%;
  z-index: 10;
} 

.Button:hover,
.Button:focus {
  background-color: #FFD1C5;
  cursor: pointer;
}

.HeartGraphic {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
}

@media screen and (max-width: 840px) {
  .Logo {
    width: 50%;
  }
  .Title {
    font-size: 32px;
    line-height: 40px;
    margin-top: 10%;
  }
  .SubText {
    font-size: 20px;
    line-height: 24px;
  }
  .HeartGraphic {
    width: 100%;
  }
  .Button {
    position: relative;
    width: 50%;
    margin: 1em -10%;
    border: none;
  }
}