.SignUp {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.Blurb {
  font-weight: 500;
  font-size: 30px;
  width: 500px;
  position: relative;
  top: 20%;
  left: 10%;
}

.Left {
  flex: 6;
  height: 100vh;
  background-color: rgba(245, 207, 191, 0.6);
  padding-left: 25px;
}

.Right {
  flex: 4;
  background-color: #F4AB98;
  padding-right: 25px;
}

.Phone {
  height: 90%;
  position: absolute;
  left: 50%;
  bottom: 100vh + 10%;
}

.BEARRRR {
  position: absolute;
  bottom: -100vh;
  left: 5%;
}

.BEARRRR svg {
  height: 2px;
}

.Phone2 {
  display: none;
}

@media screen and (max-width: 840px) {
  .SignUp { 
    display: block; 
    padding-bottom: 0;
  }
  .Left {
    padding: 1em 10% 0 10%;
    height: 100vh;
    width: 100%;
  }
  .Right {
    display: none;
  }
  .Phone2 {
    display: block;
    height: 50%;
    /* width: 100%; */
    padding: 1em 0;
    margin: 0 auto;
  }
  .Blurb {
    font-size: 20px;
    width: 90%;
    padding: 1em 0;
    margin: 0;
  }
  .BEARRRR {
    width: 100px;
    position: static;
  }
}
